<section class="text-white py-2 px-5 my-10">
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">

      <!-- Video -->
      <Inicio-nosotros-video class="order-1 md:order-2" />

      <!-- Texto -->
      <div class="order-2 md:order-1 text-justify">
        <p class="mb-4">
          <span class="font-semibold">Acid Black:</span> somos una marca de streetwear nacida para quienes caminan en
          dirección contraria, una identidad que busca seguir el camino del concepto de antimoda.
          Nos inspiramos en lo oscuro, lo marginal, lo que duele pero forma.
        </p>
        <p class="mb-4">
          No creemos en la moda como tendencia, sino como expresión cruda del ser. Nos rebelamos contra lo pulido, lo
          superficial, lo correcto y lo común.
          Nuestra estética es rock n’ roll, sombra, calle y furia interna.
          Somos una declaración de guerra contra la homogeneidad: queremos vestirte con tus demonios, con tu lado más
          rebelde y oscuro, con el caos que es parte de quién eres.
          Porque sin oscuridad no puede haber luz.
        </p>
        <p class="mb-4">
          Queremos abrirte los ojos: si tienes miedo, grita; si tienes ira, protesta; si tienes inconformidad,
          exprésala.
          En un mundo lleno de influencias que apagan talentos, sueños, identidades y creatividad por encajar en lo
          “políticamente correcto”, nosotros decimos que no.
          Buscamos la rebeldía inspirada en las épocas de los 70s del punk y los 2000 del rock y el hip hop,
          cuando vestir de negro y ancho era un estandarte de resistencia en las subculturas jóvenes de la época.
        </p>
        <p class="mb-4">
          No escondemos nuestras heridas: las bordamos sobre la tela.
          Somos lo que la luz teme mostrar.
        </p>
        <p>
          En un mundo que exige máscaras, nosotros elegimos mostrarnos rotos, sucios y vivos.
          Somos la milicia de los obstinados, porque quien abraza la sombra ya no le teme al mundo.
          En la oscuridad nadie finge ser otra cosa.
          Bienvenidos a la generación que no le importa el qué dirán de las mentes y modas superficiales.
          La luz es fácil de seguir... mejor muéstranos tu oscuridad, si es que te atreves.
        </p>
      </div>

    </div>
  </div>
</section>
