<section id="INICIO" class="relative w-full h-screen bg-black overflow-hidden mt-24">
  <div class="absolute inset-0"> <img src="/top.png" alt="Imagen de fondo principal"
      class="w-full h-full object-cover transition-all duration-1000 hover:scale-105" />
    <div class="absolute inset-0 bg-gradient-to-b from-black/30 via-black/50 to-black/70"></div>
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-transparent to-transparent"></div>
  </div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-end text-center px-4 sm:px-6 lg:px-8 z-10 pb-16 sm:pb-20 md:pb-24 lg:pb-28">
    <img src="/acidBlack.png" alt="Logo Central" class="w-40 mb-4" /> <button
      class="bg-[#d1f43d] hover:bg-lime-500 transition px-6 py-2 rounded-full font-bold text-black"> CONTÁCTANOS
    </button> </div>
</section>
