<div class="bg-gradient-to-b from-[#1f1f1f] to-[#4b4b4b] py-10  flex flex-col items-center ">


  <div class="bg-black text-white font-bold uppercase w-full text-center py-4  rounded shadow-md">
    CONOCE NUESTROS DISEÑOS
  </div>
  <!-- Carrusel -->
  <Inicio-carrusel/>

  <!-- Separador -->
  <div class="bg-black text-white font-bold uppercase w-full text-center py-4  rounded shadow-md">
    NOSOTROS
  </div>

  <Inicio-nosotros/>

  <div class="bg-black text-white font-bold uppercase w-full text-center py-4  rounded shadow-md">
    NUESTROS PRODUCTOS
  </div>

  <Inicio-grid />






</div>
