<div class="flex flex-col min-h-screen bg-gradient-to-b from-[#1f1f1f] to-[#4b4b4b] pt-10">
  <div class="flex-grow flex flex-col items-center">
    <div class="bg-black text-white font-bold uppercase w-full text-center py-4 rounded shadow-md">
      CONOCE NUESTROS DISEÑOS
    </div>

    <Inicio-carrusel />

    <div class="bg-black text-white font-bold uppercase w-full text-center py-4 rounded shadow-md">
      NOSOTROS
    </div>

    <Inicio-nosotros />

    <div class="bg-black text-white font-bold uppercase w-full text-center py-4 rounded shadow-md">
      NUESTROS PRODUCTOS
    </div>

    <Inicio-grid />
  </div>

  <Inicio-footer />
</div>
