<div class="flex flex-col min-h-screen bg-gradient-to-b from-[#1f1f1f] to-[#4b4b4b] pt-10 overflow-x-hidden">

  <!-- Contenedor principal -->
  <div class="flex-grow flex flex-col items-center w-full max-w-full">

    <!-- Sección CONOCE NUESTROS DISEÑOS -->
    <div class="bg-black text-white font-metal uppercase w-full text-center py-4 rounded shadow-md">
      CONOCE NUESTROS DISEÑOS
    </div>

    <!-- Carrusel -->
    <Inicio-carrusel />

    <!-- Sección NOSOTROS -->
    <div class="bg-black text-white font-metal uppercase w-full text-center py-4 rounded shadow-md">
      NOSOTROS
    </div>

    <Inicio-nosotros />

    <!-- Sección NUESTROS PRODUCTOS -->
    <div class="bg-black text-white font-metal uppercase w-full text-center py-4 rounded shadow-md">
      NUESTROS PRODUCTOS
    </div>

    <Inicio-grid />

  </div>

  <!-- Footer -->
  <Main-Footer />

</div>
