<div class="max-w-6xl mx-auto p-5"> <!-- 👈 limita el ancho y centra -->
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="4000">

    <ng-template pTemplate="item" let-product>
      <div class="  flex justify-center">
        <img
          [src]="product.image"
          [alt]="product.name"
          class="w-75 h-75 object-cover rounded-lg shadow-md" />
          <!-- 👆 tamaño fijo para todas las imágenes -->
      </div>
    </ng-template>
  </p-carousel>
</div>
