<div class="w-full bg-black text-white pt-8 pb-4 px-4 text-center mt-10">
  <div class="flex justify-center items-center gap-3 mb-2">
    <img src="/acidBlack.png" alt="Logo Acid Black" class="w-10 h-10 object-contain" />
    <h3
      class="text-2xl font-metal tracking-widest text-white
             drop-shadow-[0_0_8px_rgba(120,0,30,0.8)]
             hover:drop-shadow-[0_0_15px_rgba(120,0,30,1)]
             transition-all duration-300">
      ACID BLACK
    </h3>
  </div>

  <p class="text-sm text-gray-400">© 2024 Todos los derechos reservados</p>
  <p class="text-xs text-gray-500">Pereira, Risaralda - Colombia</p>

  <div class="mt-3 flex items-center justify-center gap-2 text-xs text-gray-500">
    <img src="/MFD-logo.png" alt="Icono Mario" class="w-6 h-8 opacity-80" />
    <span>
      by
      <a
        href="https://mdfportafolio.netlify.app"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white font-medium
               hover:text-[#78001e]
               hover:drop-shadow-[0_0_8px_rgba(120,0,30,0.9)]
               transition-all duration-300">
        MFDev
      </a>
    </span>
  </div>
</div>
