<nav class="flex flex-wrap justify-center gap-2 mb-8">
  @for (categoria of categorias; track categoria) {
    <button
      (click)="seleccionarCategoria(categoria)"
      class="px-3 py-1.5 rounded-full transition-all duration-300 text-base font-semibold capitalize
             hover:scale-105 active:scale-95"
      [ngClass]="{
        'bg-[#781c2e] text-white shadow-[0_2px_8px_rgba(155,44,58,0.3)]': categoriaActiva() === categoria,
        'text-gray-700 border border-[#9b2c3a] hover:bg-[#9b2c3a]/10': categoriaActiva() !== categoria
      }">
      {{ categoria }}
    </button>
  }
</nav>
